<!-- head -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Disclaimer -Akoma
    </title>
    <meta charset="utf-8" />
    <!-- Bulk -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="Akoma is the largest data science, machine learning community with powerful tools and resources to help you achieve your data science, or machine learning goals and offers free aritificial intelligence ,maching learning ,data science courses." />
    <meta name="keywords"
        content="Artificial Intelligence, Machine Learning, Deep Learning, Data Science, Reinforcement Learning, Open cv, Natural Language Processing, Datasets, Notebook, Competition, projects, And much more in this Akoma,webseite, web devloper, devloper, machine learning, engineer, akoma,acoma, web designs, ai, ml, dl, ds, rl, opencv, cv, NLP, designs, machine learning engineer, nlp,akoma" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta property="og:title" content="Akoma: Your Machine Learning and Data Science Community" />
    <meta property="og:description"
        content="Akoma is the largest data science, machine learning community with powerful tools and resources to help you achieve your data science, or machine learning goals and offers free aritificial intelligence ,maching learning ,data science courses." />
    <!-- <meta property="og:url" content="https://www.akoma.in/" /> -->
    <meta property="og:type" content="website" />
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta property="og:site_name" content="Akoma" />

    <!-- Bulk -->
    <!-- Favicon -->
    <link href="static/img/favicon.ico" rel="icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet" />

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="static/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="static/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Template Stylesheet -->
    <link href="static/css/style.css" rel="stylesheet" />
    <!-- contact form stylesheet -->
    <link rel="stylesheet" href="static/contact/form.css" />
    <style>
        .navbar-brand,
        .akoma-a-nav {
            font-family: Algerian;
            font-style: normal;
        }

        .navbar-brand>span {
            font-family: "Bell MT";
            font-size: 35px;
        }

        .text>.login {
            color: rgb(255, 255, 255);
        }

        .text>.login:hover,
        .text:hover {
            color: rgb(245, 222, 179);
            font-weight: bolder;
            background: white;
        }

        .proj:hover {
            color: white;
        }

        .dropdown-item:hover {
            border-bottom: 1px solid rgb(0, 0, 0);
            background: #1d2434;
            color: wheat;
        }

        .testimonial {
            background: linear-gradient(rgba(29, 36, 52, 1),
                    rgba(29, 36, 52, 0.5),
                    rgba(29, 36, 52, 1)),
                url("static/img2/top2.jpg");
        }

        .career_data_akoma>a {
            color: rgb(180, 176, 176);
        }

        .career_data_akoma>a:hover {
            color: wheat;
            border-bottom: 1px solid wheat;
        }

        /* News Feed css */
        #akoma-news {
            border: 2px solid rgba(29, 36, 52, 1);
        }

        #akoma-news-mail {
            background: white;
            width: 100%;

        }

        #akoma-news-btn {
            margin-top: 25px;
        }

        /* scrollbar */
        a {
            text-decoration: none;
        }
    </style>

    <style>
        .disclaimer-akoma-main {
            font-family: sans-serif;
            width: 88%;
            margin: auto;
            text-align: justify;
            padding: 20px;
            margin-top: 50px;
            box-shadow: 1px 1px 10px 1px grey;
        }

        @media screen and (max-width:960px) {
            .disclaimer-akoma-main {
                width: 99%;
            }
        }

        .text-center {
            font-weight: bolder;
            border: 1px solid black;
            background: rgb(29, 36, 52);
            color: white;
        }

        #privacy-policy-akoma>h3,
        #privacy-policy-akoma>h2 {
            font-weight: bold;
        }

        h2 {
            padding-top: 70px;
            font-weight: bold;

        }

        /* links */
        .footer-social-ak {
            width: fit-content;
            margin: auto;
            margin-top: 50px;
        }

        .footer-social-ak>a,
        .io {
            border: 1px solid rgb(214, 191, 149);
            padding: 10px 30px;
        }

        .io {
            color: white;
        }

        .footer-social-ak>a:hover,
        .io {
            background: rgb(29, 36, 52);
        }
    </style>
    </style>

</head>

<body>
    <!-- Top Bar Start -->
    <div class="top-bar d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="top-bar-left">
                        <div class="text">
                            <a class="login" href="/login">Soon...</a>
                            <p>Already a User</p>
                        </div>
                        <div class="text">
                            <a class="login" href="/signup">Soon...</a>
                            <p>New Resistration</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="top-bar-right">
                        <div class="social">
                            <a href="https://twitter.com/Akoma60582060"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/akoma-lite-64421920a/"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a href="https://www.youtube.com/channel/UCTrE7W2WiNL4OdWyYSoY05Q"><i
                                    class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-github"></i></a>
                            <a href="https://www.kaggle.com/akomalite"><i class="fab fa-kaggle"></i></a>
                            <a href=""><i class="fas fa-spider"></i></a>
                            <a href=""><i class="akoma-a-nav">A</i></a>
                            <a href=""><i class="fas fa-user-lock"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">A<span>koma</span></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="/projects" class="nav-item nav-link">Projects</a>
                    <a href="/caitalog" class="nav-item nav-link">Caitalog</a>
                    <a href="/datasets" class="nav-item nav-link">Datasets</a>
                    <a href="/competition" class="nav-item nav-link">competition</a>
                    <a href="/notebook" class="nav-item nav-link">Notebook</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Courses</a>
                        <div class="dropdown-menu">
                            <a href="/artificial-intelligence" class="dropdown-item">Artificial Intelligence</a>
                            <a href="/reinforcement-learning" class="dropdown-item">Reinforcement Learning</a>
                            <a href="/deep-learning" class="dropdown-item">Deep Learning</a>
                            <a href="/machine-learning" class="dropdown-item">Machine Learning</a>
                            <a href="/data-science" class="dropdown-item">Data Science</a>
                            <a href="/akomaweb" class="dropdown-item">Web Devloper</a>
                            <a href="/python-course" class="dropdown-item">Python Course</a>
                            <a href="/caitalog" class="dropdown-item">Akoma-All-Courses</a>
                            <a href="/blog" class="dropdown-item">Blog</a>
                        </div>
                    </div>
                    <a href="/akomaweb" class="nav-item nav-link">Akoma</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->
    <div class="disclaimer-akoma-main">


        <h1 class="text-center">
            <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">Disclaimer
        </h1>
        <h2>Introduction</h2>


        <p><strong>Last Updated: 27-03-2021</strong></p>
        <p>The information provided by Akoma (“We,” “Us” or “Our”) on akoma.in and Our mobile application “Akoma” (the
            “Website”) is for general informational purposes only. All information on the Website is provided in good
            faith,
            however, We make no representation or warranty of any kind, express or implied, regarding the accuracy,
            adequacy, validity, reliability, availability or completeness of any information on the Website.</p>
        <p>Under no circumstance shall We have any liability to You for any loss or damage of any kind incurred as a
            result
            of the use of the Website or reliance on any information provided on the Website. Your use of the Website
            and
            Your reliance on any information on the Website is solely at Your own risk.</p>
        <h2 id="tableofcontents">Contents</h2>
        <p>Click below to jump to any section of this disclaimer</p>
        <ol type="1">
            <li><a href="#consent"><strong>Consent</strong></a>
            </li>
            <li><a href="#content"><strong>Content Disclaimer</strong></a>
            </li>
            <li><a href="#externallinks"><strong>External Links Disclaimer</strong></a>
            </li>
            <li><a href="#reviews"><strong>Reviews</strong></a>
            </li>
            <li><a href="#earnings"><strong>Earnings Disclaimer</strong></a>
            </li>
            <li><a href="#testimonials"><strong>Testimonials Disclaimer</strong></a>
            </li>
            <li><a href="#professionalrelationship"><strong>No Professional Relationship Disclaimer</strong></a>
            </li>
            <li><a href="#youtube"><strong>YouTube Channel { Videos Creator }</strong></a>
            </li>
            <li><a href="#fairuse"><strong>Fair Use Notice</strong></a>
            </li>
            <li><a href="#personal"><strong>Personal Responsibility</strong></a>
            </li>
            <li><a href="#contact"><strong>Contact Us</strong></a>
            </li>
            <li><a href="#copyright"><strong>Copyright Information</strong></a>
            </li>

        </ol>
        <h2 id="consent">1 Consent</h2>
        <p>By using the Website, You hereby consent to this Disclaimer and agree to its terms.</p>
        <p>We will not be liable for any damages experienced in connection with the use of Our Website.</p>
        <p><strong>If You do not agree with this Disclaimer, STOP now and do not access or use this Website.</strong>
        </p>

        <p><a href="#tableofcontents">Back to table of contents</a></p>
        <h2 id="content">2 Content Disclaimer</h2>
        <p>We are not responsible or liable in any manner for any content posted on Our Website or in connection with
            Our
            Website, whether posted or caused by users of the Website or by Us. Although We provide rules for user
            conduct
            and postings, We do not control and are not responsible for what the users post, transmit or share on the
            Website, and are not responsible for any offensive, inappropriate, obscene, unlawful or otherwise
            objectionable
            content You may encounter on the Website. We are not responsible for the conduct, whether online or offline,
            of
            any user of Our Website.</p>

        <p><a href="#tableofcontents">Back to table of contents</a></p>
        <h2 id="externallinks">3 External Links Disclaimer</h2>
        <p>The Website may contain (or You may be sent through the Website links to other sites or content belonging to
            or
            originating from third parties or links to sites and features in banners or other advertising. We do not
            investigate, monitor, or check such external links for accuracy, adequacy, validity, reliability,
            availability
            or completeness.</p>
        <p>We do not warrant, endorse, guarantee, or assume responsibility for the accuracy or reliability of any
            information offered by third-party websites linked through the Website or any site or feature linked in any
            banner or other advertising. We will not be a party to or in any way be responsible for monitoring any
            transaction between You and third-party providers of products or services.</p>

        <p><a href="#tableofcontents">Back to table of contents</a></p>
        <h2 id="reviews">4 Reviews</h2>
        <p>At various times, We may provide reviews of products, services, or other resources. This may include reviews
            of
            books, services, and/or software applications. Any such reviews will represent the good-faith opinions of
            the
            author of such review. The products and services reviewed may be provided to Us for free or at a reduced
            price
            as an incentive to provide a review.</p>
        <p>Regardless of any such discounts, We will provide honest reviews of these products and/or services. You
            recognize
            that You should conduct Your own due diligence and should not rely solely upon any reviews provided on this
            Website.</p>
        <p>We will disclose the existence of any discounts or incentives received in exchange for providing a review of
            a
            product. If You would like more information about any such discounts and incentives, send an email to
            akomalite@gmail.com that includes the title of the reviewed product as the subject line. We will respond via
            email and disclose any incentives or discounts We received in association with any such review.</p>

        <p><a href="#tableofcontents">Back to table of contents</a></p>
        <h2 id="earnings">5 Earnings Disclaimer</h2>
        <p>From time to time, We may report on the success of one of Our existing or prior clients/customers. The
            information about this success is accurately portrayed by the clients/customers. You acknowledge that the
            prior
            success of others does not guarantee Your success.</p>
        <p>As with any business, Your results may vary and will be based on Your individual capacity, business
            experience,
            expertise, and level of desire. There are no guarantees concerning the level of success You may experience.
            There is no guarantee that You will make any income at all and You accept the risk that the earnings and
            income
            statements differ by individual. Each individual's success depends on his or her background, dedication,
            desire,
            and motivation.</p>
        <p>The use of Our information, products, and services should be based on Your own due diligence and You agree
            that
            We are not liable for any success or failure of Your business that is directly or indirectly related to the
            purchase and use of Our information, products, and services reviewed or advertised on this Website.</p>

        <p><a href="#tableofcontents">Back to table of contents</a></p>
        <h2 id="testimonials">6 Testimonials Disclaimer</h2>
        <p>The Website may contain testimonials from users of Our products and/or services. These testimonials reflect
            the
            real-life experiences and opinions of such users. However, the experiences are personal to those particular
            users, and may not necessarily be representative of all users of Our products and/or services. We do not
            claim,
            and You should not assume, that all users will have the same experiences. Your individual results may vary.
        </p>
        <p>The testimonials on the Website are submitted in various forms such as text, audio and/or video, and are
            reviewed
            by Us before being posted. They appear on the Website verbatim as given by the users, except for the
            correction
            of grammar or typing errors. Some testimonials may have been shortened for the sake of brevity where the
            full
            testimonial contained extraneous information not relevant to the general public.</p>
        <p>The views and opinions contained in the testimonials belong solely to the individual user and do not reflect
            Our
            views and opinions. </p>
        <p>The testimonials on the Website are not intended, nor should they be construed, as claims that Our products
            and/or services can be used to diagnose, treat, mitigate, cure, prevent, or otherwise be used for any
            disease or
            medical condition. No testimonials have been clinically proven or evaluated.</p>

        <p><a href="#tableofcontents">Back to table of contents</a></p>
        <h2 id="professionalrelationship">7 No Professional Relationship Disclaimer</h2>
        <p><strong>The Website cannot and does not contain professional advice. </strong>We do not provide any kind of
            professional advice. The information is provided for general informational and educational purposes only and
            is
            not a substitute for professional advice.</p>
        <p>Accordingly, before taking any actions based upon such information, We encourage You to consult with the
            appropriate professionals. The use or reliance of any information contained on this Website is solely at
            Your
            own risk.</p>


        <h2 id="youtube">8 You Tube Channel { Videos Creator }</h2>
        <p><strong>Akoma Has a YouTube channel and Provided Education Videos. </strong>We are doing our best to prepare
            the content of this site. However, Akoma cannot warranty the expressions and suggestions of the contents, as
            well as its accuracy. In addition, to the extent permitted by the law, Akoma shall not be responsible for
            any losses and/or damages due to the usage of the information on our website.
        </p>
        <p>By using our website, you hereby consent to our disclaimer and agree to its terms. <br>

            The links contained on our website may lead to external sites, which are provided for convenience only. Any
            information or statements that appeared in these sites are not sponsored, endorsed, or otherwise approved by
            Akoma. For these external sites, Akoma cannot be held liable for the availability of, or the content located
            on or through it. Our Privacy Policy read now. Plus, any losses or damages occurred from using these
            contents or the internet generally.</p>


        <p><a href="#tableofcontents">Back to table of contents</a></p>
        <h2 id="fairuse">9 Fair Use Notice</h2>
        <p>The Website contains copyrighted material the use of which has not always been specifically authorized by the
            copyright owner. We believe this constitutes a “fair use” of any such copyrighted material as provided for
            in
            section 107 of the US Copyright Law. If You wish to use copyrighted material from the Website for purposes
            of
            Your own that go beyond fair use, You must obtain permission from the copyright owner.</p>

        <p><a href="#tableofcontents">Back to table of contents</a></p>
        <h2 id="personal">10 Personal Responsibility</h2>
        <p>You acknowledge You are using Our Website voluntarily and that any choices, actions and results now and in
            the
            future are solely Your responsibility.</p>
        <p>We will not be liable to You or any other party for any decision made or action taken in reliance on the
            information given in the Website.</p>

        <p><a href="#tableofcontents">Back to table of contents</a></p>
        <h2 id="contact">11 Contact Us</h2>
        <p>If You require any more information or have any questions about Our Website's disclaimer, please feel free to
            contact Us by our <a href="https://akoma.in">contact page</a> or by email at&nbsp;<a
                href="mailto:akomalite@gmail.com">akomalite@gmail.com</a>.</p>

        <p><a href="#tableofcontents">Back to table of contents</a></p>
        <h2 id="copyright">12 Copyright Information</h2>COPYRIGHT 2021 Akoma. ALL RIGHTS RESERVED.
        <p>This disclaimer was generated at: <a
                href="https://privacyterms.io/disclaimer-generator/">privacyterms.io</a>.
        </p>
        <a href="https://privacyterms.io/view/HJM0P5J2-BNIIHYQv-41MXt5/#" class="io">Disclaimer io</a>




        <div class="footer-social-ak">
            <a href="https://twitter.com/Akoma60582060"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UCTrE7W2WiNL4OdWyYSoY05Q"><i class="fab fa-youtube"></i></a>
            <a href="https://www.linkedin.com/in/akoma-lite-64421920a/"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.kaggle.com/akomalite"><i class="fab fa-kaggle"></i></a>
            <a href=""><i class="fab fa-github"></i></a>
        </div>
    </div>


    <!-- foot -->

    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-contact">
                                <h2>About Akoma</h2>
                                <p class="career_data_akoma">
                                    <i class="fa fa-briefcase" aria-hidden="true"></i><a href="/career">Career On
                                        Akoma</a>
                                </p>
                                <p class="career_data_akoma">
                                    <i class="fa fa-briefcase" aria-hidden="true"></i><a href="/devloper">Akoma
                                        Devloper</a>
                                </p>
                                <p class="career_data_akoma">
                                    <i class="fa fa-at" aria-hidden="true"></i><a href="/about-akoma">About Akoma</a>
                                </p>
                                <p class="career_data_akoma">
                                    <i class="fa fa-lock" aria-hidden="true"></i><a href="/privacy-policy">Privacy
                                        Policy</a>
                                </p>
                                <p class="career_data_akoma">
                                    <i class="fa fa-check-square" aria-hidden="true"></i><a
                                        href="/terms&conditions">Terms & Conditions</a>
                                </p>
                                <div class="footer-social">
                                    <a href="https://twitter.com/Akoma60582060"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.youtube.com/channel/UCTrE7W2WiNL4OdWyYSoY05Q"><i
                                            class="fab fa-youtube"></i></a>
                                    <a href="https://www.linkedin.com/in/akoma-lite-64421920a/"><i
                                            class="fab fa-linkedin-in"></i></a>
                                    <a href="https://www.kaggle.com/akomalite"><i class="fab fa-kaggle"></i></a>
                                    <a href=""><i class="fab fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-link">
                                <h2>Quick Links</h2>
                                <a href="/blog">Letest Blog</a>
                                <a href="/competition">Competitions</a>
                                <a href="/notebook">New Notebook</a>
                                <a href="/datasets">Datasets</a>
                                <a href="/akomaweb">Web Devlopment</a>
                                <a href="/disclaimer">Disclaimer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="footer-newsletter">
                        <h2>Notification Feed</h2>
                        <p>
                            Get all Notification of Akoma in your Email , Update, Caitalog,
                            Desines, Courses, Competitions, Datasets, and realated to your
                            Account, just type your Email and press submit button, <br />
                            Join on Akoma Notification Feed
                        </p>
                        <div class="form" id="akoma-news">
                            <input class="form-control" id="akoma-news-mail" name="notification"
                                placeholder="Notification Feed" />
                            <button class="btn" id="akoma-news-btn">Submit</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="/">akoma.in</a>, All Right Reserved.</p>
                </div>
                <div class="col-md-6">
                    <p>Designed By <a href="/about-akoma">Akoma</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- JavaScript Libraries -->
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/easing/easing.min.js"></script>
    <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="static/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="static/lib/lightbox/js/lightbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

    <!-- Template Javascript -->
    <script src="static/js/main.js"></script>
</body>


</html>