<!-- head -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Akoma
    </title>
    <meta charset="utf-8" />
    <!-- Bulk -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="Akoma is the largest data science, machine learning community with powerful tools and resources to help you achieve your data science, or machine learning goals and offers free aritificial intelligence ,maching learning ,data science courses." />
    <meta name="keywords"
        content="Artificial Intelligence, Machine Learning, Deep Learning, Data Science, Reinforcement Learning, Open cv, Natural Language Processing, Datasets, Notebook, Competition, projects, And much more in this Akoma,webseite, web devloper, devloper, machine learning, engineer, akoma,acoma, web designs, ai, ml, dl, ds, rl, opencv, cv, NLP, designs, machine learning engineer, nlp,akoma" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta property="og:title" content="Akoma: Your Machine Learning and Data Science Community" />
    <meta property="og:description"
        content="Akoma is the largest data science, machine learning community with powerful tools and resources to help you achieve your data science, or machine learning goals and offers free aritificial intelligence ,maching learning ,data science courses." />
    <!-- <meta property="og:url" content="https://www.akoma.in/" /> -->
    <meta property="og:type" content="website" />
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta property="og:site_name" content="Akoma" />

    <!-- Bulk -->
    <!-- Favicon -->
    <link href="static/img/favicon.ico" rel="icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet" />

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="static/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="static/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Template Stylesheet -->
    <link href="static/css/style.css" rel="stylesheet" />
    <!-- contact form stylesheet -->
    <link rel="stylesheet" href="static/contact/form.css" />
    <style>
        .navbar-brand,
        .akoma-a-nav {
            font-family: Algerian;
            font-style: normal;
        }

        .navbar-brand>span {
            font-family: "Bell MT";
            font-size: 35px;
        }

        .text>.login {
            color: rgb(255, 255, 255);
        }

        .text>.login:hover,
        .text:hover {
            color: rgb(245, 222, 179);
            font-weight: bolder;
            background: white;
        }

        .proj:hover {
            color: white;
        }

        .dropdown-item:hover {
            border-bottom: 1px solid rgb(0, 0, 0);
            background: #1d2434;
            color: wheat;
        }

        .testimonial {
            background: linear-gradient(rgba(29, 36, 52, 1),
                    rgba(29, 36, 52, 0.5),
                    rgba(29, 36, 52, 1)),
                url("static/img2/top2.jpg");
        }

        .career_data_akoma>a {
            color: rgb(180, 176, 176);
        }

        .career_data_akoma>a:hover {
            color: wheat;
            border-bottom: 1px solid wheat;
        }

        /* News Feed css */
        #akoma-news {
            border: 2px solid rgba(29, 36, 52, 1);
        }

        #akoma-news-mail {
            background: white;
            width: 100%;

        }

        #akoma-news-btn {
            margin-top: 25px;
        }

        /* scrollbar */
        a {
            text-decoration: none;
        }
    </style>

    <style>
        .btn-akoma-blog {
            position: relative;
            margin-bottom: 30px;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 600;
            color: #1d2434;
            border: 2px solid #1d2434;
            border-radius: 0;
            background: none;
            transition: .3s;
        }

        .btn-akoma-blog:hover {
            background: #1d2434;
        }
    </style>

</head>

<body>
    <!-- Top Bar Start -->
    <div class="top-bar d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="top-bar-left">
                        <div class="text">
                            <a class="login" href="/login">Soon...</a>
                            <p>Already a User</p>
                        </div>
                        <div class="text">
                            <a class="login" href="/signup">Soon...</a>
                            <p>New Resistration</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="top-bar-right">
                        <div class="social">
                            <a href="https://twitter.com/Akoma60582060"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/akoma-lite-64421920a/"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a href="https://www.youtube.com/channel/UCTrE7W2WiNL4OdWyYSoY05Q"><i
                                    class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-github"></i></a>
                            <a href="https://www.kaggle.com/akomalite"><i class="fab fa-kaggle"></i></a>
                            <a href=""><i class="fas fa-spider"></i></a>
                            <a href=""><i class="akoma-a-nav">A</i></a>
                            <a href=""><i class="fas fa-user-lock"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">A<span>koma</span></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="/projects" class="nav-item nav-link">Projects</a>
                    <a href="/caitalog" class="nav-item nav-link">Caitalog</a>
                    <a href="/datasets" class="nav-item nav-link">Datasets</a>
                    <a href="/competition" class="nav-item nav-link">competition</a>
                    <a href="/notebook" class="nav-item nav-link">Notebook</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Courses</a>
                        <div class="dropdown-menu">
                            <a href="/artificial-intelligence" class="dropdown-item">Artificial Intelligence</a>
                            <a href="/reinforcement-learning" class="dropdown-item">Reinforcement Learning</a>
                            <a href="/deep-learning" class="dropdown-item">Deep Learning</a>
                            <a href="/machine-learning" class="dropdown-item">Machine Learning</a>
                            <a href="/data-science" class="dropdown-item">Data Science</a>
                            <a href="/akomaweb" class="dropdown-item">Web Devloper</a>
                            <a href="/python-course" class="dropdown-item">Python Course</a>
                            <a href="/caitalog" class="dropdown-item">Akoma-All-Courses</a>
                            <a href="/blog" class="dropdown-item">Blog</a>
                        </div>
                    </div>
                    <a href="/akomaweb" class="nav-item nav-link">Akoma</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Hero Start -->
    <div class="hero">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="hero-text">
                        <!-- <h1>HTML5 Template for Salon Website</h1> -->
                        <h1>Get Our Best Portfolio On Akoma</h1>
                        <p>
                            Complete Tasks on Datasets , Join The Next competition , Add New Notebook And Get Free
                            Courses
                            With Experts . <br>
                            Use As A Devloper..
                        </p>
                        <a class="btn" href="/about-akoma">About Akoma</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 d-none d-md-block">
                    <div class="hero-image">
                        <img src="static/img2/rto3.png" alt="Hero Image">
                    </div>
                </div>
            </div>
            <button type="button" class="btn-play" data-toggle="modal"
                data-src="https://www.youtube.com/watch?v=bb4z5OuWieY" data-target="#videoModal">
                <span></span>
            </button>
        </div>
    </div>
    <!-- Hero End -->

    <!-- Video Modal Start-->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="......" id="video" allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->


    <!-- About Start -->
    <div class="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="static/img2/ia.jpg" alt="Image">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="section-header text-left">
                        <p>Learn About To AI</p>
                        <h2>Artificial Intelligence (AI)</h2>
                    </div>
                    <div class="about-text">
                        <p>
                            Artificial intelligence enables computers and machines to mimic the perception, learning,
                            problem-solving, and decision-making capabilities of the human mind.
                        </p>
                        <p>
                            In computer science, the term artificial intelligence (AI) refers to any human-like
                            intelligence exhibited by a computer, robot, or other machine. In popular usage, artificial
                            intelligence refers to the ability of a computer or machine to mimic the capabilities of the
                            human mind—learning from examples and experience, recognizing objects, understanding and
                            responding to language, making decisions, solving problems—and combining these and other
                            capabilities to perform functions a human might perform, such as greeting a hotel guest or
                            driving a car. <br><br>

                            After decades of being relegated to science fiction, today, AI is part of our everyday
                            lives. The surge in AI development is made possible by the sudden availability of large
                            amounts of data and the corresponding development and wide availability of computer systems
                            that can process all that data faster and more accurately than humans can. AI is completing
                            our words as we type them, providing driving directions when we ask, vacuuming our floors,
                            and recommending what we should buy or binge-watch next. And it’s driving applications—such
                            as medical image analysis—that help skilled professionals do important work faster and with
                            greater success.
                        </p>
                        <a class="btn" href="/caitalog">Get Courses</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div class="service">
        <div class="container">
            <div class="section-header text-center">
                <p>Akoma Provide Best Videos</p>
                <p>Of Courses</p>
                <h2>Services Of Akoma</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="static/img2/g.gif" alt="Image">
                        </div>
                        <h3>Artificial Intelligence</h3>
                        <p>
                            Artificial Intelligence course is the most popular course of Akoma and Akoma provide you
                            best learning.
                        </p>
                        <a class="btn" href="/caitalog">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="static/img2/g1.gif" alt="Image">
                        </div>
                        <h3>Deep Learning</h3>
                        <p>
                            Deep Learning is a subset of Machine Learning. Understanding of Deep Learning
                            and practical with Akoma.
                        </p>
                        <a class="btn" href="/caitalog">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="static/img2/g2.gif" alt="Image">
                        </div>
                        <h3>Machine Learning</h3>
                        <p>
                            Machine learning is a subset of AI.Get code of examples and work with projects
                            on Akoma.
                        </p>
                        <a class="btn" href="/caitalog">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Pricing Start -->
    <div class="price">
        <div class="container">
            <div class="section-header text-center">
                <p>Akoma Submission</p>
                <h2>Akoma Advanced Techniques Or PortFolio</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="price-item">
                        <div class="price-img">
                            <img src="static/img2/nlp.jpg" alt="Image">
                        </div>
                        <div class="price-text">
                            <h2><a href="/" class="proj">NLP</a></h2>
                            <h3><a href="/" class="proj">Natural Language Processing</a> </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="price-item">
                        <div class="price-img">
                            <img src="static/img2/cv.jpg" alt="Image">
                        </div>
                        <div class="price-text">
                            <h2><a href="/" class="proj">Open CV</a></h2>
                            <h3><a href="/" class="proj">Computer Vision Problem Detection</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="price-item">
                        <div class="price-img">
                            <img src="static/img2/rl.jpg" alt="Image">
                        </div>
                        <div class="price-text">
                            <h2><a href="/" class="proj">RL</a></h2>
                            <h3><a href="/" class="proj">Reinforcement Learning Technique</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="price-item">
                        <div class="price-img">
                            <img src="static/img2/deep.png" alt="Image">
                        </div>
                        <div class="price-text">
                            <h2><a href="/" class="proj">DL</a></h2>
                            <h3><a href="/" class="proj">Deep Learning Course With Projects</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="price-item">
                        <div class="price-img">
                            <img src="static/img2/mnistdata.png" alt="Image">
                        </div>
                        <div class="price-text">
                            <h2><a href="/" class="proj">Img Segmetation</a></h2>
                            <h3><a href="/" class="proj">Complete Notebook, and Dataset of Mnist</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="price-item">
                        <div class="price-img">
                            <img src="static/img2/pl.png" alt="Image">
                        </div>
                        <div class="price-text">
                            <h2><a href="/" class="proj">Advance Libraries</a></h2>
                            <h3><a href="/" class="proj">Python Libraries with Examples Akoma</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="price-item">
                        <div class="price-img">
                            <img src="static/img2/Kaggle.jpg" alt="Image">
                        </div>
                        <div class="price-text">
                            <h2><a href="/" class="proj">Kaggle</a></h2>
                            <h3><a href="/" class="proj">Kaggle Dataset Store And Practicals</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="price-item">
                        <div class="price-img">
                            <img src="static/img2/ai2.png" alt="Image">
                        </div>
                        <div class="price-text">
                            <h2><a href="/" class="proj">AI Techniques</a></h2>
                            <h3><a href="/" class="proj">Get Advance AI Based Techniques</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="price-item">
                        <div class="price-img">
                            <img src="static/img2/com.jpg" alt="Image">
                        </div>
                        <div class="price-text">
                            <h2><a href="/" class="proj">Competitions</a></h2>
                            <h3><a href="/" class="proj">Join Contest Get Stars Grow Your Level</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="price-item">
                        <div class="price-img">
                            <img src="static/img2/diploy.png" alt="Image">
                        </div>
                        <div class="price-text">
                            <h2><a href="/" class="proj">Diployment</a></h2>
                            <h3><a href="/" class="proj">Google Cloud, aws, Heroku, Flask, Azure</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="price-item">
                        <div class="price-img">
                            <img src="static/img2/pro.png" alt="Image">
                        </div>
                        <div class="price-text">
                            <h2><a href="/" class="proj">Projecs</a></h2>
                            <h3><a href="/" class="proj">Project Ideas And Diployment with Akoma</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="price-item">
                        <div class="price-img">
                            <img src="static/img2/blog.jpg" alt="Image">
                        </div>
                        <div class="price-text">
                            <h2><a href="/" class="proj">Blog...</a></h2>
                            <h3><a href="/" class="proj">Akoma Blog (Read Details of Akoma Blog)</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing End -->

    <!-- Testimonial Start -->
    <div class="testimonial">
        <div class="container">
            <h2 style="margin: auto; width: fit-content; font-weight: bolder; font-family: Bell MT; color: wheat;">Top
                Ranking Updated Levels</h2>
            <div class="owl-carousel testimonials-carousel">
                <div class="testimonial-item">
                    <img src="static/logo/akoma.png" alt="Image">
                    <p>
                        Level - 18,
                        Score - 0.5,
                        Rank - Gold <br>
                        Join The Competitions And Grow Your Skills. <br>
                        Akoma Competitions Completed 23 And Joined The Next Session...
                    </p>
                    <h2>Roshan Kumar</h2>
                    <h3>Competition</h3>
                </div>
                <div class="testimonial-item">
                    <img src="static/img2/alice.jpg" alt="Image">
                    <p>
                        Solved Problems - 30, Score - 0.3, Rank - Platinum <br>
                        Solve The Next Problem And Grow Your Abilities Of Problem Detecting. <br>
                        Akoma Notebook Completed 19 And Join The Next Session...
                    </p>
                    <h2>Alice202</h2>
                    <h3>Notebook</h3>
                </div>
                <div class="testimonial-item">
                    <img src="static/logo/akoma.png" alt="Image">
                    <p>
                        Dataset Cont. - 36, Score - 0.7, Rank - Gold <br>
                        A New Dataset Has Been Connected. Resolve Issue>> <br>
                        Akoma Dataset Connection Creation And Join The Next Session...
                    </p>
                    <h2>Alora444</h2>
                    <h3>Dataset</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Team Start -->
    <div class="team">
        <div class="container">
            <div class="section-header text-center">
                <p>Model Diploy on Multiple Platfoms</p>
                <h2>App Diployment On Akoma</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="static/img2/cloud.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Cloud Service</h2>
                            <p>Diploy Your App On Google Cloud</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="static/img2/aws.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>AWS</h2>
                            <p>Amazon Web Service For Diployment Free</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="static/img2/heroku.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Heroku</h2>
                            <p>App Diploy On Heroku Platform Free</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="static/img2/azure.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Azure</h2>
                            <p>Microsoft Web Diployment On Payable</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->





    <!-- Blog Start -->
    <div class="blog">
        <div class="container">
            <div class="section-header text-center">
                <p>Latest From Blog</p>
                <h2>Learn More from Latest Akoma Blog</h2>
            </div>
            <div class="owl-carousel blog-carousel">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="static/img2/blog_coming.png" alt="Blog">
                    </div>
                    <div class="blog-meta">
                        <i class="fa fa-list-alt"></i>
                        <a href="">Properties</a>
                        <i class="fa fa-calendar-alt"></i>
                        <p>Upload Date</p>
                    </div>
                    <div class="blog-text">
                        <h2>Akoma Blog</h2>
                        <p>
                            Akoma Blog Discription Show Here. Read Letest Blog Here New Submission, App ,Related To
                            Course And Much More.
                            Well Blog Is Coming..
                        </p>
                        <a class="btn-akoma-blog" href="/blog">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="static/img2/blog_coming.png" alt="Blog">
                    </div>
                    <div class="blog-meta">
                        <i class="fa fa-list-alt"></i>
                        <a href="">Properties</a>
                        <i class="fa fa-calendar-alt"></i>
                        <p>Upload Date</p>
                    </div>
                    <div class="blog-text">
                        <h2>Akoma Blog</h2>
                        <p>
                            Akoma Blog Discription Show Here. Read Letest Blog Here New Submission, App ,Related To
                            Course And Much More.
                            Well Blog Is Coming..
                        </p>
                        <a class="btn-akoma-blog" href="/blog">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="static/img2/blog_coming.png" alt="Blog">
                    </div>
                    <div class="blog-meta">
                        <i class="fa fa-list-alt"></i>
                        <a href="">Properties</a>
                        <i class="fa fa-calendar-alt"></i>
                        <p>Upload Date</p>
                    </div>
                    <div class="blog-text">
                        <h2>Akoma Blog</h2>
                        <p>
                            Akoma Blog Discription Show Here. Read Letest Blog Here New Submission, App ,Related To
                            Course And Much More.
                            Well Blog Is Coming..
                        </p>
                        <a class="btn-akoma-blog" href="/blog">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="static/img2/blog_coming.png" alt="Blog">
                    </div>
                    <div class="blog-meta">
                        <i class="fa fa-list-alt"></i>
                        <a href="">Properties</a>
                        <i class="fa fa-calendar-alt"></i>
                        <p>Upload Date</p>
                    </div>
                    <div class="blog-text">
                        <h2>Akoma Blog</h2>
                        <p>
                            Akoma Blog Discription Show Here. Read Letest Blog Here New Submission, App ,Related To
                            Course And Much More.
                            Well Blog Is Coming..
                        </p>
                        <a class="btn-akoma-blog" href="/blog">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="static/img2/blog_coming.png" alt="Blog">
                    </div>
                    <div class="blog-meta">
                        <i class="fa fa-list-alt"></i>
                        <a href="">Properties</a>
                        <i class="fa fa-calendar-alt"></i>
                        <p>Upload Date</p>
                    </div>
                    <div class="blog-text">
                        <h2>Akoma Blog</h2>
                        <p>
                            Akoma Blog Discription Show Here. Read Letest Blog Here New Submission, App ,Related To
                            Course And Much More.
                            Well Blog Is Coming..
                        </p>
                        <a class="btn-akoma-blog" href="/blog">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="static/img2/blog_coming.png" alt="Blog">
                    </div>
                    <div class="blog-meta">
                        <i class="fa fa-list-alt"></i>
                        <a href="">Properties</a>
                        <i class="fa fa-calendar-alt"></i>
                        <p>Upload Date</p>
                    </div>
                    <div class="blog-text">
                        <h2>Akoma Blog</h2>
                        <p>
                            Akoma Blog Discription Show Here. Read Letest Blog Here New Submission, App ,Related To
                            Course And Much More.
                            Well Blog Is Coming..
                        </p>
                        <a class="btn-akoma-blog" href="/blog">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->

    <!-- ***********************************************************************************************************************************************************************
    ******************************************************************************************************************************************************************************************* -->
    <!-- Contact Start -->
    <div id="contact-main">
        <div class="contact-main-box" id="contact-box1">
            <img src="static/img2/contact.webp" alt="Akoma">
        </div>
        <div class="contact-main-box" id="contact-box2">
            <h1 id="query-akoma">Submit Query on Akoma</h1>
            <form id="form-query-akoma" action="/" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" id="name" name="name" required="required"
                        placeholder="Your Name" data-validation-required-message="Please enter your name">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="email" name="email" required="required"
                        placeholder="Your Email">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="subject" name="subject" required="required"
                        placeholder="Subject">
                </div>
                <div class="mb-3">
                    <textarea type="text" class="form-control" id="message" name="message" required="required"
                        placeholder="Messsage" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>
    </div>
    <!-- Contact End -->

    <!-- foot -->

    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-contact">
                                <h2>About Akoma</h2>
                                <p class="career_data_akoma">
                                    <i class="fa fa-briefcase" aria-hidden="true"></i><a href="/career">Career On
                                        Akoma</a>
                                </p>
                                <p class="career_data_akoma">
                                    <i class="fa fa-briefcase" aria-hidden="true"></i><a href="/devloper">Akoma
                                        Devloper</a>
                                </p>
                                <p class="career_data_akoma">
                                    <i class="fa fa-at" aria-hidden="true"></i><a href="/about-akoma">About Akoma</a>
                                </p>
                                <p class="career_data_akoma">
                                    <i class="fa fa-lock" aria-hidden="true"></i><a href="/privacy-policy">Privacy
                                        Policy</a>
                                </p>
                                <p class="career_data_akoma">
                                    <i class="fa fa-check-square" aria-hidden="true"></i><a
                                        href="/terms&conditions">Terms & Conditions</a>
                                </p>
                                <div class="footer-social">
                                    <a href="https://twitter.com/Akoma60582060"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.youtube.com/channel/UCTrE7W2WiNL4OdWyYSoY05Q"><i
                                            class="fab fa-youtube"></i></a>
                                    <a href="https://www.linkedin.com/in/akoma-lite-64421920a/"><i
                                            class="fab fa-linkedin-in"></i></a>
                                    <a href="https://www.kaggle.com/akomalite"><i class="fab fa-kaggle"></i></a>
                                    <a href=""><i class="fab fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-link">
                                <h2>Quick Links</h2>
                                <a href="/blog">Letest Blog</a>
                                <a href="/competition">Competitions</a>
                                <a href="/notebook">New Notebook</a>
                                <a href="/datasets">Datasets</a>
                                <a href="/akomaweb">Web Devlopment</a>
                                <a href="/disclaimer">Disclaimer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="footer-newsletter">
                        <h2>Notification Feed</h2>
                        <p>
                            Get all Notification of Akoma in your Email , Update, Caitalog,
                            Desines, Courses, Competitions, Datasets, and realated to your
                            Account, just type your Email and press submit button, <br />
                            Join on Akoma Notification Feed
                        </p>
                        <div class="form" id="akoma-news">
                            <input class="form-control" id="akoma-news-mail" name="notification"
                                placeholder="Notification Feed" />
                            <button class="btn" id="akoma-news-btn">Submit</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="/">akoma.in</a>, All Right Reserved.</p>
                </div>
                <div class="col-md-6">
                    <p>Designed By <a href="/about-akoma">Akoma</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- JavaScript Libraries -->
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/easing/easing.min.js"></script>
    <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="static/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="static/lib/lightbox/js/lightbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

    <!-- Template Javascript -->
    <script src="static/js/main.js"></script>
</body>


</html>