<!-- head -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    Terms & Conditions -Akoma
  </title>
  <meta charset="utf-8" />
  <!-- Bulk -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Akoma is the largest data science, machine learning community with powerful tools and resources to help you achieve your data science, or machine learning goals and offers free aritificial intelligence ,maching learning ,data science courses." />
  <meta name="keywords"
    content="Artificial Intelligence, Machine Learning, Deep Learning, Data Science, Reinforcement Learning, Open cv, Natural Language Processing, Datasets, Notebook, Competition, projects, And much more in this Akoma,webseite, web devloper, devloper, machine learning, engineer, akoma,acoma, web designs, ai, ml, dl, ds, rl, opencv, cv, NLP, designs, machine learning engineer, nlp,akoma" />
  <meta name="robots" content="index, follow" />
  <meta name="googlebot" content="index, follow" />
  <meta property="og:title" content="Akoma: Your Machine Learning and Data Science Community" />
  <meta property="og:description"
    content="Akoma is the largest data science, machine learning community with powerful tools and resources to help you achieve your data science, or machine learning goals and offers free aritificial intelligence ,maching learning ,data science courses." />
  <!-- <meta property="og:url" content="https://www.akoma.in/" /> -->
  <meta property="og:type" content="website" />
  <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
  <meta property="og:site_name" content="Akoma" />

  <!-- Bulk -->
  <!-- Favicon -->
  <link href="static/img/favicon.ico" rel="icon" />

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
    rel="stylesheet" />

  <!-- CSS Libraries -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
  <link href="static/lib/animate/animate.min.css" rel="stylesheet" />
  <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
  <link href="static/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <!-- Template Stylesheet -->
  <link href="static/css/style.css" rel="stylesheet" />
  <!-- contact form stylesheet -->
  <link rel="stylesheet" href="static/contact/form.css" />
  <style>
    .navbar-brand,
    .akoma-a-nav {
      font-family: Algerian;
      font-style: normal;
    }

    .navbar-brand>span {
      font-family: "Bell MT";
      font-size: 35px;
    }

    .text>.login {
      color: rgb(255, 255, 255);
    }

    .text>.login:hover,
    .text:hover {
      color: rgb(245, 222, 179);
      font-weight: bolder;
      background: white;
    }

    .proj:hover {
      color: white;
    }

    .dropdown-item:hover {
      border-bottom: 1px solid rgb(0, 0, 0);
      background: #1d2434;
      color: wheat;
    }

    .testimonial {
      background: linear-gradient(rgba(29, 36, 52, 1),
          rgba(29, 36, 52, 0.5),
          rgba(29, 36, 52, 1)),
        url("static/img2/top2.jpg");
    }

    .career_data_akoma>a {
      color: rgb(180, 176, 176);
    }

    .career_data_akoma>a:hover {
      color: wheat;
      border-bottom: 1px solid wheat;
    }

    /* News Feed css */
    #akoma-news {
      border: 2px solid rgba(29, 36, 52, 1);
    }

    #akoma-news-mail {
      background: white;
      width: 100%;

    }

    #akoma-news-btn {
      margin-top: 25px;
    }

    /* scrollbar */
    a {
      text-decoration: none;
    }
  </style>
<style>
#privacy-policy-akoma {
        width: 88%;
        margin: auto;
        text-align: justify;
        padding: 20px;
        margin-top: 50px;
        box-shadow: 1px 1px 10px 1px grey;
    }
    
    @media screen and (max-width:960px){
        #privacy-policy-akoma{
            width: 99%;
        }
    }

    .text-center {
        font-weight: bolder;
        border: 1px solid black;
        background: rgb(29, 36, 52);
        color: white;
    }

    #privacy-policy-akoma>h3,
    #privacy-policy-akoma>h2 {
        font-weight: bold;
    }

    h2 {
        padding-top: 20px;

    }
    /* links */
    .footer-social-ak{
        width: fit-content;
        margin: auto;
        margin-top: 50px;
    }
    .footer-social-ak>a{
        border: 1px solid rgb(214, 191, 149);
        padding: 10px 30px;
    }
    .footer-social-ak>a:hover{
        background: rgb(29, 36, 52);
    }
    .email-bold{
        font-weight: bold;
        font-variant: small-caps;
        padding: 5px 9px;
    }
    .email-bold:hover{
        background: rgb(29, 36, 52);
    }
</style>

</head>

<body>
  <!-- Top Bar Start -->
  <div class="top-bar d-none d-md-block">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="top-bar-left">
            <div class="text">
              <a class="login" href="/login">Soon...</a>
              <p>Already a User</p>
            </div>
            <div class="text">
              <a class="login" href="/signup">Soon...</a>
              <p>New Resistration</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="top-bar-right">
            <div class="social">
              <a href="https://twitter.com/Akoma60582060"><i class="fab fa-twitter"></i></a>
              <a href="https://www.linkedin.com/in/akoma-lite-64421920a/"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://www.youtube.com/channel/UCTrE7W2WiNL4OdWyYSoY05Q"><i class="fab fa-youtube"></i></a>
              <a href=""><i class="fab fa-github"></i></a>
              <a href="https://www.kaggle.com/akomalite"><i class="fab fa-kaggle"></i></a>
              <a href=""><i class="fas fa-spider"></i></a>
              <a href=""><i class="akoma-a-nav">A</i></a>
              <a href=""><i class="fas fa-user-lock"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Bar End -->

  <!-- Nav Bar Start -->
  <div class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">A<span>koma</span></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
          <a href="/" class="nav-item nav-link active">Home</a>
          <a href="/projects" class="nav-item nav-link">Projects</a>
          <a href="/caitalog" class="nav-item nav-link">Caitalog</a>
          <a href="/datasets" class="nav-item nav-link">Datasets</a>
          <a href="/competition" class="nav-item nav-link">competition</a>
          <a href="/notebook" class="nav-item nav-link">Notebook</a>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Courses</a>
            <div class="dropdown-menu">
              <a href="/artificial-intelligence" class="dropdown-item">Artificial Intelligence</a>
              <a href="/reinforcement-learning" class="dropdown-item">Reinforcement Learning</a>
              <a href="/deep-learning" class="dropdown-item">Deep Learning</a>
              <a href="/machine-learning" class="dropdown-item">Machine Learning</a>
              <a href="/data-science" class="dropdown-item">Data Science</a>
              <a href="/akomaweb" class="dropdown-item">Web Devloper</a>
              <a href="/python-course" class="dropdown-item">Python Course</a>
              <a href="/caitalog" class="dropdown-item">Akoma-All-Courses</a>
              <a href="/blog" class="dropdown-item">Blog</a>
            </div>
          </div>
          <a href="/akomaweb" class="nav-item nav-link">Akoma</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Nav Bar End -->

<div id="privacy-policy-akoma">
    <h1 class="text-center">Terms & Conditions Apply - Akoma</h1>
<h2>Welcome to Akoma</h2>
<p>These terms of service outline the rules and regulations for the use of Akoma's Website.</p>
<p><strong>Akoma is located at:</strong></p>
<p>
    - UTTAR PRADESH , India
</p>

<p>By accessing this website we assume you accept these terms of service in full. Do not continue to use
    Akoma's website if you do not accept all of the terms of service stated on this page.</p>
<p>The following terminology applies to these Terms of Service, Privacy Statement and Disclaimer Notice and
    any or all Agreements: "Client", "You" and "Your" refers to you, the person accessing this website
    and accepting the Company's terms of service. "The Company", "Ourselves", "We", "Our" and "Us", refers
    to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves, or either the Client
    or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake
    the process of our assistance to the Client in the most appropriate manner, whether by formal meetings
    of a fixed duration, or any other means, for the express purpose of meeting the Client's needs in respect
    of provision of the Company's stated services/products, in accordance with and subject to, prevailing law
    of India. Any use of the above terminology or other words in the singular, plural,
    capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>

<h2>Cookies</h2>
<p>We employ the use of cookies. By using Akoma's website you consent to the use of cookies
    in accordance with Akoma's privacy policy.</p>
<p>Most of the modern day interactive web sites
    use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site
    to enable the functionality of this area and ease of use for those people visiting. Some of our
    affiliate / advertising partners may also use cookies.</p>


<h2>License</h2>
<p>Unless otherwise stated, Akoma and/or it's licensors own the intellectual property rights for
    all material on Akoma. All intellectual property rights are reserved. You may view and/or print
    pages from akoma.in for your own personal use subject to restrictions set in these terms of service.</p>
<p>You must not:</p>
<ol>
    <li>Republish material from akoma.in</li>
    <li>Sell, rent or sub-license material from akoma.in</li>
    <li>Reproduce, duplicate or copy material from akoma.in</li>
</ol>
<p>Redistribute content from Akoma (unless content is specifically made for redistribution).</p>


<h2>User Comments</h2>
<ol>
    <li>This Agreement shall begin on the date hereof.</li>
    <li>Certain parts of this website offer the opportunity for users to post and exchange opinions, information,
        material and data ('Comments') in areas of the website. Akoma does not screen, edit, publish
        or review Comments prior to their appearance on the website and Comments do not reflect the views or
        opinions of Akoma, its agents or affiliates. Comments reflect the view and opinion of the
        person who posts such view or opinion. To the extent permitted by applicable laws Akoma shall
        not be responsible or liable for the Comments or for any loss cost, liability, damages or expenses caused
        and or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this
        website.</li>
    <li>Akoma reserves the right to monitor all Comments and to remove any Comments which it considers
        in its absolute discretion to be inappropriate, offensive or otherwise in breach of these Terms of Service.</li>
    <li>You warrant and represent that:
        <ol>
            <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to
                do so;</li>
            <li>The Comments do not infringe any intellectual property right, including without limitation copyright,
                patent or trademark, or other proprietary right of any third party;</li>
            <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material
                or material which is an invasion of privacy</li>
            <li>The Comments will not be used to solicit or promote business or custom or present commercial activities
                or unlawful activity.</li>
        </ol>
    </li>
    <li>You hereby grant to <strong>Akoma</strong> a non-exclusive royalty-free license to use, reproduce,
        edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats
        or media.</li>
</ol>
<h2>Hyperlinking to our Content</h2>
<ol>
    <li>The following organizations may link to our Web site without prior written approval:
        <ol>
            <li>Government agencies;</li>
            <li>Search engines;</li>
            <li>News organizations;</li>
            <li>Online directory distributors when they list us in the directory may link to our Web site in the same
                manner as they hyperlink to the Web sites of other listed businesses; and</li>
            <li>Systemwide Accredited Businesses except soliciting non-profit organizations, charity shopping malls,
                and charity fundraising groups which may not hyperlink to our Web site.</li>
        </ol>
    </li>
</ol>
<ol start="2">
    <li>These organizations may link to our home page, to publications or to other Web site information so long
        as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or
        approval of the linking party and its products or services; and (c) fits within the context of the linking
        party's site.
    </li>
    <li>We may consider and approve in our sole discretion other link requests from the following types of
        organizations:
        <ol>
            <li>commonly-known consumer and/or business information sources such as Chambers of Commerce, American
                Automobile Association, AARP and Consumers Union;</li>
            <li>dot.com community sites;</li>
            <li>associations or other groups representing charities, including charity giving sites,</li>
            <li>online directory distributors;</li>
            <li>internet portals;</li>
            <li>accounting, law and consulting firms whose primary clients are businesses; and</li>
            <li>educational institutions and trade associations.</li>
        </ol>
    </li>
</ol>
<p>We will approve link requests from these organizations if we determine that: (a) the link would not reflect
    unfavorably on us or our accredited businesses (for example, trade associations or other organizations
    representing inherently suspect types of business, such as work-at-home opportunities, shall not be allowed
    to link); (b)the organization does not have an unsatisfactory record with us; (c) the benefit to us from
    the visibility associated with the hyperlink outweighs the absence of Akoma; and (d) where the
    link is in the context of general resource information or is otherwise consistent with editorial content
    in a newsletter or similar product furthering the mission of the organization.</p>

<p>These organizations may link to our home page, to publications or to other Web site information so long as
    the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval
    of the linking party and it products or services; and (c) fits within the context of the linking party's
    site.</p>

<p>If you are among the organizations listed in paragraph 2 above and are interested in linking to our website,
    you must notify us by sending an e-mail to <a href="mailto:akomalite@gmail.com"
        title="send an email to akomalite@gmail.com">akomalite@gmail.com</a>.
    Please include your name, your organization name, contact information (such as a phone number and/or e-mail
    address) as well as the URL of your site, a list of any URLs from which you intend to link to our Web site,
    and a list of the URL(s) on our site to which you would like to link. Allow 2-3 weeks for a response.</p>

<p>Approved organizations may hyperlink to our Web site as follows:</p>

<ol>
    <li>By use of our corporate name; or</li>
    <li>By use of the uniform resource locator (Web address) being linked to; or</li>
    <li>By use of any other description of our Web site or material being linked to that makes sense within the
        context and format of content on the linking party's site.</li>
</ol>
<p>No use of Akoma's logo or other artwork will be allowed for linking absent a trademark license
    agreement.</p>
<h2>Iframes</h2>
<p>Without prior approval and express written permission, you may not create frames around our Web pages or
    use other techniques that alter in any way the visual presentation or appearance of our Web site.</p>
<h2>Content Liability</h2>
<p>We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify
    and defend us against all claims arising out of or based upon your Website. No link(s) may appear on any
    page on your Web site or within any context containing content or materials that may be interpreted as
    libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or
    other violation of, any third party rights.</p>
<h2>Reservation of Rights</h2>
<p>We reserve the right at any time and in its sole discretion to request that you remove all links or any particular
    link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also
    reserve the right to amend these terms of service and its linking policy at any time. By continuing
    to link to our Web site, you agree to be bound to and abide by these linking terms of service.</p>
<h2>Removal of links from our website</h2>
<p>If you find any link on our Web site or any linked web site objectionable for any reason, you may contact
    us about this. We will consider requests to remove links but will have no obligation to do so or to respond
    directly to you.</p>
<p>Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness
    or accuracy; nor do we commit to ensuring that the website remains available or that the material on the
    website is kept up to date.</p>
<h2>Disclaimer</h2>
<p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating
    to our website and the use of this website (including, without limitation, any warranties implied by law in respect
    of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). Nothing in this
    disclaimer will:</p>
<ol>
    <li>limit or exclude our or your liability for death or personal injury resulting from negligence;</li>
    <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
    <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
    <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
</ol>
<p>The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer: (a)
    are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer or
    in relation to the subject matter of this disclaimer, including liabilities arising in contract, in tort
    (including negligence) and for breach of statutory duty.</p>
<p>To the extent that the website and the information and services on the website are provided free of charge,
    we will not be liable for any loss or damage of any nature.</p>
<h2>Credit &amp; Contact Information</h2>
<p>If you have any queries regarding any of our terms, please contact Akoma via <a href="mailto:akomalite@gmail.com" class="email-bold">email</a> or <a
    href="/" class="email-bold">Write query</a></p>


    <div class="footer-social-ak">
        <a href="https://twitter.com/Akoma60582060"><i class="fab fa-twitter"></i></a>
        <a href="https://www.youtube.com/channel/UCTrE7W2WiNL4OdWyYSoY05Q"><i class="fab fa-youtube"></i></a>
        <a href="https://www.linkedin.com/in/akoma-lite-64421920a/"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.kaggle.com/akomalite"><i class="fab fa-kaggle"></i></a>
        <a href=""><i class="fab fa-github"></i></a>
      </div>
</div>


  <!-- foot -->

  <!-- Footer Start -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="row">
            <div class="col-md-6">
              <div class="footer-contact">
                <h2>About Akoma</h2>
                <p class="career_data_akoma">
                  <i class="fa fa-briefcase" aria-hidden="true"></i><a href="/career">Career On Akoma</a>
                </p>
                <p class="career_data_akoma">
                  <i class="fa fa-briefcase" aria-hidden="true"></i><a href="/devloper">Akoma Devloper</a>
                </p>
                <p class="career_data_akoma">
                  <i class="fa fa-at" aria-hidden="true"></i><a href="/about-akoma">About Akoma</a>
                </p>
                <p class="career_data_akoma">
                  <i class="fa fa-lock" aria-hidden="true"></i><a href="/privacy-policy">Privacy Policy</a>
                </p>
                <p class="career_data_akoma">
                  <i class="fa fa-check-square" aria-hidden="true"></i><a href="/terms&conditions">Terms & Conditions</a>
                </p>
                <div class="footer-social">
                  <a href="https://twitter.com/Akoma60582060"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.youtube.com/channel/UCTrE7W2WiNL4OdWyYSoY05Q"><i class="fab fa-youtube"></i></a>
                  <a href="https://www.linkedin.com/in/akoma-lite-64421920a/"><i class="fab fa-linkedin-in"></i></a>
                  <a href="https://www.kaggle.com/akomalite"><i class="fab fa-kaggle"></i></a>
                  <a href=""><i class="fab fa-github"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="footer-link">
                <h2>Quick Links</h2>
                <a href="/blog">Letest Blog</a>
                <a href="/competition">Competitions</a>
                <a href="/notebook">New Notebook</a>
                <a href="/datasets">Datasets</a>
                <a href="/akomaweb">Web Devlopment</a>
                <a href="/disclaimer">Disclaimer</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="footer-newsletter">
            <h2>Notification Feed</h2>
            <p>
              Get all Notification of Akoma in your Email , Update, Caitalog,
              Desines, Courses, Competitions, Datasets, and realated to your
              Account, just type your Email and press submit button, <br />
              Join on Akoma Notification Feed
            </p>
            <div class="form" id="akoma-news">
              <input class="form-control" id="akoma-news-mail" name="notification" placeholder="Notification Feed" />
              <button class="btn" id="akoma-news-btn">Submit</button>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container copyright">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; <a href="/">akoma.in</a>, All Right Reserved.</p>
        </div>
        <div class="col-md-6">
          <p>Designed By <a href="/about-akoma">Akoma</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- JavaScript Libraries -->
  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="static/lib/easing/easing.min.js"></script>
  <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="static/lib/lightbox/js/lightbox.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <!-- Template Javascript -->
  <script src="static/js/main.js"></script>
</body>



</html>